{% extends 'base.html' %}

{% block content %}

<div class="divHeader">
    <video  controls autoplay muted loop>
        <source src="{{ url_for('static', filename='media/pub.mp4')}}" type="video/mp4">
    </video>
    <div class="divInfos">
        <h1>Elasticsearch Web App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam omnis fugiat ut sapiente animi distinctio fuga, aliquam at assumenda aliquid commodi minima repellendus id vel eius dignissimos facilis quis eligendi.
        Consectetur cumque ipsum error! Atque quidem, tempora illo minima modi sit mollitia? Rerum, eaque incidunt eum temporibus, suscipit, rem earum assumenda commodi repudiandae in eos cum provident quasi doloremque qui!</p>
        <form id="formSearch">
            <input type="search" placeholder="Recherche de vols...">
        </form>
    </div>
</div>

<div class="divBody">
    <div class="divFilters">
        <h2>Filtres</h2>

        <div class="category">
            <h4>Par Compagnies</h4>
            <div>
                <div>
                    <input type="checkbox" name="" id="" value="United Air Lines Inc.">
                    <label for="">United Air Lines Inc.</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="American Airlines Inc.">
                    <label for="">American Airlines Inc.</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="US Airways Inc.">
                    <label for="">US Airways Inc.</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Frontier Airlines Inc.">
                    <label for="">Frontier Airlines Inc.</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="JetBlue Airways">
                    <label for="">JetBlue Airways</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Skywest Airlines Inc.">
                    <label for="">Skywest Airlines Inc.</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Alaska Airlines Inc.">
                    <label for="">Alaska Airlines Inc.</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Spirit Air Lines">
                    <label for="">Spirit Air Lines</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Southwest Airlines Co.">
                    <label for="">Southwest Airlines Co.</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Delta Air Lines Inc.">
                    <label for="">Delta Air Lines Inc.</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Atlantic Southeast Airlines">
                    <label for="">Atlantic Southeast Airlines</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Hawaiian Airlines Inc.">
                    <label for="">Hawaiian Airlines Inc.</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="American Eagle Airlines Inc.">
                    <label for="">American Eagle Airlines Inc.</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Virgin America">
                    <label for="">Virgin America</label>
                </div>
            </div>
        </div>

        <div class="category">
            <h4>Dans certaines villes</h4>
            <div>
                <div>
                    <input type="checkbox" name="" id="" value="New York">
                    <label for="">New York</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Los Angeles">
                    <label for="">Los Angeles</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Chicago">
                    <label for="">Chicago</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Seattle">
                    <label for="">Seattle</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Washington DC">
                    <label for="">Washington DC</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Boston">
                    <label for="">Boston</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Las Vegas">
                    <label for="">Las Vegas</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Miami">
                    <label for="">Miami</label>
                </div>
            </div>
        </div>

        <div class="category">
            <h4>Par Jours</h4>
            <div>
                <div>
                    <input type="checkbox" name="lun" id="lun" value="Lundi">
                    <label for="lun">Lundi</label>
                </div>

                <div>
                    <input type="checkbox" name="mardi" id="mardi" value="Mardi">
                    <label for="">Mardi</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Mercredi">
                    <label for="">Mercredi</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Jeudi">
                    <label for="">Jeudi</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Vendredi">
                    <label for="">Vendredi</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Samedi">
                    <label for="">Samedi</label>
                </div>

                <div>
                    <input type="checkbox" name="" id="" value="Dimanche">
                    <label for="">Dimanche</label>
                </div>
            </div>
        </div>
    </div>
    <div class="divVolContainer">

        <div class="divVols">
            {% for i in range(20) %}
            <div class="divVolItem">
                <div class="divImage">
                    <img src="{{ url_for('static', filename='images/delta.png')}}" alt="vols">
                </div>
                <div class="volInformations">
                    <h2>Delta Air Lines Inc.</h2>
                    

                    <div class="divTravel">
                        <span>Atlanta</span>
                        <img src="{{ url_for('static', filename='images/plane.svg')}}" alt="vols">
                        <span>Birmingham</span>
                    </div>

                    <div class="timers">
                        <div class="timer">
                            <div>
                                <h4>Départ Prévu</h4>
                                <span>0:05:00</span>
                            </div>
                            <div>
                                <h4>Heure de Départ</h4>
                                <span>23:54:00</span>
                            </div>
                        </div>
    
                        <div class="timer">
                            <div>
                                <h4>Arrivée Prévue</h4>
                                <span>04:30:00</span>
                            </div>
                            <div>
                                <h4>Heure d'Arrivée</h4>
                                <span>04:08:00</span>
                            </div>
                        </div>
                    </div>
                    
                    <p>Le 3 Février, 2015</p>

                    
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="divPagination">
            <span>1</span>
            <span>1</span>
            <span>1</span>
            <span>1</span>
        </div>
    </div>
</div>

{% endblock %}